.header {
  text-align: center;
}

.header img {
  height: 80px;
  margin-bottom: 20px;
}

.header nav {
  background: #000;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header nav ul li a,
.header nav ul li button {
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #fff;
}

.header nav ul li a.active{
  background: gray;
}

.header nav ul li button {
  background: crimson;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 15px;
}


.header nav ul li a:hover {
  background: gray;
}